/* ChatBot.css */
.summarizer{
    margin-left: 248px;
}
.chat_bot_container {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid #ccc;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    height: 100vh;
  }
  .top_section_options button{
    padding: 0.6rem;
    cursor: pointer;
  }
  
  .chat_messages {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .message {
    margin: 5px;
    padding: 1rem;
    border-radius: 5px;
    max-width: 80%;
  }
  
  .user {
    background-color: #625A75;
    align-self: flex-end; 
    color: white;
  }
  
  .bot {
    background-color: white;
    align-self: flex-start; 
  }
  
  .chat_input {
    display: flex;
    padding: 0.5rem;
    position: fixed;
    bottom: 5px;
    width: 80%;
  }
 .chat_bot_container input {
    flex: 1;
    margin-right: 10px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 .chat_bot_container button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
 .chat_bot_container button:hover {
    background-color: #45a049;
  }
  .top_chat_section{
    padding: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    position: fixed;
    background-color: #8E7797;
    width: 84%;
    border-radius: 0.3rem;
    display: flex;
    align-items: center ;
    justify-content: space-between;
  }
  .text_input{
    flex: 8;
  }
  .file_input{
    background-color: white;
    flex: 2;
  }